{% extends 'base.html' %}

{% block content %}
<section class="about-section">
    <div class="container">
        <!-- Profile Image Section -->
        <div class="profile-image">
            <img src="{{ url_for('static', filename='img/profile.jpg') }}" alt="Usman Ali">
        </div>

        <!-- Profile Information Section -->
        <div class="profile-info">
            <h1>Usman Ali</h1>
            <p>I am an experienced Data Scientist with a strong background in analyzing data, building predictive models, and delivering insights that help businesses grow. I specialize in using tools like Python, SQL, and machine learning frameworks to solve complex problems, identify trends, and make data-driven decisions.</p>

            <p>I have hands-on experience with machine learning, deep learning, and natural language processing, allowing me to develop and deploy models that improve business outcomes. I work closely with teams to provide clear, actionable insights, helping organizations make smarter decisions and improve operations.</p>

<p>My goal is to use data to find opportunities, solve challenges, and drive success.</p>

            <!-- Skills -->
            <h2>Skills</h2>
            <ul>
                <li>Python, Flask, Django</li>
                <li>Cloud (AWS, Azure)</li>
                <li>Python (Pandas, Numpy, Matplotlib, Seaborn, Plotly, Math, Scipy)</li>
                <li>Machine Learning (Scikit-learn, TensorFlow, PyTorch, OpenCV)</li>
                <li>SQL, MySQL</li>
                <li>Data (Data Analytics, Data Analysis, Business Requirements</li>
                <li>Data Visualization (Tableau, Power BI)</li>
                <li>Natural Language Processing, Deep Learning, Machine Learning, Predictive Modeling</li>
            </ul>

            <!-- Experience -->
            <h2>Experience</h2>
            <p><strong>Data Scientist and AI Analyst - PRAMA Enterprises</strong> <br> (Dec 2022 - Nov 2024)</p>
            <li>Developed and deployed Machine Learning models using MATLAB, TensorFlow, Pytorch, Scikit-learn and Spark to address business challenges.</li>
            <li>Migrated data systems to AWS and Azure, optimizing performance and reducing operational costs by 13%.</li>
            <li>Collaborated with cross-functional teams to streamline workflows and enhance scalability using Python and Spark.</li>
            <li>Mentored junior data scientists and managed projects, fostering skill development and team growth.</li>
            <li>Designed new AI algorithm for business solutions using C++ and Java with improved 12% performance, fine-tuned large language models (LLMs) for NLP and Image generation tasks.</li>
            <p><strong>Data Analyst (Data Visualization Specialist) - PRAMA Enterprises</strong> <br> (Sep 2021 - Dec 2022)</p>
            <li>Implemented advanced data visualizations using Power BI, Tableau, Excel (VLOOKUP, XLOOKUP, INDEX-MATCH), and R, enhancing business insights.</li>
            <li>Automated reporting with R, DAX, and Excel, reducing report generation time by 40%.</li>
            <li>Applied statistical analysis in Python by utilizing AWS, improving operational performance by 15%.</li>
            <li>Streamlined data workflows, achieving 99% data accuracy and reducing reporting errors by 25%.</li>
            <li>Delivered customized reporting solutions using DAX, Excel and distributed computing boosting monthly sales by 18%.</li>
            <!-- Education -->
            <h2>Education</h2>
            <p><strong>Master's of Applied Computing</strong> - University of Windsor, Ontario (2023 - 2024)</p>
            <p><strong>Bachelor of Science in Computer Science</strong> - Riphah International University, Pakistan (2018 - 2022)</p>
        </div>
    </div>
</section>
{% endblock %}
