{% extends 'base.html' %}

{% block content %}
<section class="contact-us">
    <h1 class="contact-heading">Contact Me</h1>
    <div class="contact-container">
        <p>If you'd like to get in touch, feel free to reach out via any of the methods below:</p>
        <div class="contact-details">
            <p>Email: whoisusmanali@gmail.com</p>
            <p>Phone: +1-226-961-4829</p>
            <div class="social-links">
                <a class="button" href="https://www.linkedin.com/in/usman-ali-06a6351b1/" target="_blank">LinkedIn</a>
                <a class="button" href="https://whoisusmanali.medium.com/" target="_blank">Medium</a>
                <a class="button" href="https://github.com/whoisusmanali" target="_blank">GitHub</a>
                <a class="button" href="https://www.kaggle.com/howisusmanali" target="_blank">Kaggle</a>
                <a class="button" href="https://public.tableau.com/app/profile/usman8882/vizzes" target="_blank">Tableau</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
