{% extends 'base.html' %}

{% block content %}
<section class="projects-section">
    <h1 class="projects-heading">My Projects</h1>
    <div class="projects-container">
        <div class="project-card">
            <h3>HomeValueAI</h3>
            <p>An AI-powered web app for predicting house prices using various features like location, property type, and more.</p>
            <div class="project-buttons">
                <a class="button" href="https://github.com/whoisusmanali/HomeValueAI" target="_blank">View More Detail</a>
                <a class="youtube-button" href="https://www.youtube.com/watch?v=qB1omCStv6o&t=166s" target="_blank">YouTube</a>
            </div>
        </div>
        <div class="project-card">
            <h3>Phone_PriceSenseAI</h3>
            <p>A machine learning model to predict mobile phone prices based on features such as RAM, storage, and brand.</p>
            <div class="project-buttons">
                <a class="button" href="https://github.com/whoisusmanali/Phone-PriceSenseAI" target="_blank">View More Detail</a>
                <a class="youtube-button" href="https://youtu.be/hCG6yPP3w2s?si=52lQvOpnhLuUuglc" target="_blank">YouTube</a>
            </div>
        </div>
        <div class="project-card">
            <h3>PokerHandDetector</h3>
            <p>A computer vision system that detects and recognizes poker hands using the YOLOv8 model.</p>
            <div class="project-buttons">
                <a class="button" href="https://github.com/whoisusmanali/Pocker_Hand_Detector_YOLOv8" target="_blank">View More Detail</a>
            </div>
        </div>


        <div class="project-card">
            <h3>Hand Sign Detector</h3>
            <p>In this project I used my own dataset by clicking my own pictures and annotate these images by using MakeSense.com and use YOLOv8 for training and test on Vs Code.</p>
            <div class="project-buttons">
                <a class="button" href="https://github.com/whoisusmanali/Hand_Sign_Detector_YOLOv8" target="_blank">View More Detail</a>
            </div>
        </div>



        <div class="project-card">
            <h3>NewsAlpha</h3>
            <p>Generative AI model for Summarize and give insights based on the article/news provided</p>
            <div class="project-buttons">
                <a class="button" href="https://github.com/whoisusmanali/NewsAlpha" target="_blank">View More Detail</a>
            </div>
        </div>

        <div class="project-card">
            <h3>Comment Safeguard</h3>
            <p>This project is about Natural Language Processing in which I downloaded the dataset from Kaggle and do after doing data preprocessing apply the Deep Learning Sequential model.</p>
            <div class="project-buttons">
                <a class="button" href="https://github.com/whoisusmanali/Comment-Safeguard" target="_blank">View More Detail</a>
            </div>
        </div>

        <div class="project-card">
            <h3>SuperStore sales Time Series Analysis</h3>
            <p>Time Series Analysis and prediction based on previous data provided.</p>
            <div class="project-buttons">
                <a class="button" href="https://github.com/whoisusmanali/SuperStore-sales-Time-Series-Analysis" target="_blank">View More Detail</a>
            </div>
        </div>

        <div class="project-card">
            <h3>Pakistani Celebrity Image Classifier</h3>
            <p>This project involves building a Convolutional Neural Network (CNN) to classify images of Pakistani celebrities.</p>
            <div class="project-buttons">
                <a class="button" href="https://github.com/whoisusmanali/Pakistani_Celebrity_Image_Classifier_CNN" target="_blank">View More Detail</a>
            </div>
        </div>



        <div class="project-card">
            <h3>Email Spam Classification</h3>
            <p>A comprehensive project for detecting spam emails using advanced machine learning, deep learning, and natural language processing (NLP) techniques.</p>
            <div class="project-buttons">
                <a class="button" href="https://github.com/whoisusmanali/Email_Spam_Classifier" target="_blank">View More Detail</a>
            </div>
        </div>


        <div class="project-card">
            <h3>Data Science Salary Analysis</h3>
            <p>Deep Analysis of the Data Science Salaries by Python, SQL and Excel. Implemented Machine Learning for Prediction</p>
            <div class="project-buttons">
                <a class="button" href="https://github.com/whoisusmanali/Data_Science_Salary_Analysis_Python-Tableau" target="_blank">View More Detail</a>
            </div>
        </div>



        <!-- Add more project cards as needed -->
    </div>
</section>
{% endblock %}
